<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>

  <div align="center" style="margin:20% 5% 0 5%;">
    <ion-card>
      <ion-item>
        <ion-input placeholder="Email" [(ngModel)]="user.email"></ion-input>
      </ion-item>
      <ion-item-divider></ion-item-divider>
      <ion-item> 
        <ion-input placeholder="Password" [(ngModel)]="user.password" type="password"></ion-input>
      </ion-item>
    </ion-card>
    <ion-item-divider></ion-item-divider>
    <ion-button (click)="handleLogin()">Login</ion-button>
  </div>
</ion-content>
